/data/gossipcop_real.csv
/data/gossipcop_fake.csv
/data/politifact_real.csv
/data/politifact_fake.csv
/data/Fake.csv
/data/True.csv
/data/top1_fake_title.csv
/data/top2_real_title.csv
/data/top3_fake_body.csv
/data/top4_real_body.csv

/data/svm_body_model.pkl